<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
</head>
<body >
    <h1 class="text-red-500">All Products!</h1>
    <ul>
        <% for(let product of products){ %>
            <li><a href="/products/<%=product.id%>"><%= product.name %></a></li>
        <% }%>
    </ul>

    <p>Sort by Category</p>
    <form action="" id="cat-select">
        <select name="category" id="category">
            <option value="fruit">Fruit</option>
            <option value="vegetable">Vegetable</option>
            <option value="dairy">Dairy</option>
            <option value="baked">Baked</option>
        </select>
        <button>Search</button>
    </form>
</body>
</html>