<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boilerplate</title>
    <link href="../../css/output.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <a class="btn btn-ghost text-xl" href="/home">Online Grocery Store</a>
      </div>

      <div class="navbar-center">
        <form action="/productsearch" method="GET" class="flex felx-row">
          <div class="flex-none gap-2">
            <div class="form-control">
              <input
                type="text"
                name="name"
                placeholder="Search"
                class="input input-bordered w-24 md:w-auto"
              />
            </div>
          </div>

          <button class="btn btn-ghost btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
        </form>
      </div>

      <div class="navbar-end">
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a>Link</a></li>
            <li>
              <details>
                <summary>Parent</summary>
                <ul class="bg-base-100 rounded-t-none p-2">
                  <li><a>Link 1</a></li>
                  <li><a>Link 2</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main class="flex flex-col items-center"><%- body %></main>
  </body>
</html>
