<% layout('./layouts/boilerplate') %>
<p class="mt-4 w-3/5 portrait:w-full pl-2">
  <a class="link link-hover" href="/home">Home</a> > Cart
</p>

<h2 class="text-2xl font-bold pl-4 w-3/5 mt-4 mb-4 portrait:w-full">
  Cart
  <p id="total-items" class="text-base-300 inline text-xl">
    <span class="loading loading-spinner loading-xs"></span>
  </p>
</h2>

<section
  id="cart"
  class="w-3/5 flex flex-row justify-center gap-8 portrait:flex-col portrait:w-full"
>
  <div id="cart-info" class="w-3/5 portrait:w-full portrait:pl-4 portrait:pr-4">
    <div class="card bg-base-100 w-full shadow-xl">
      <div id="cart-body" class="card-body gap-4">
        <div class="flex w-full flex-row gap-4 items-end justify-between">
          <div class="w-1/4">
            <div class="skeleton h-32 w-full"></div>
          </div>
          <div class="w-1/4">
            <div class="skeleton h-4 w-full mb-4"></div>
            <div class="skeleton h-4 w-full"></div>
          </div>
        </div>

        <div class="flex w-full flex-row gap-4 items-end justify-between">
          <div class="w-1/4">
            <div class="skeleton h-32 w-full"></div>
          </div>
          <div class="w-1/4">
            <div class="skeleton h-4 w-full mb-4"></div>
            <div class="skeleton h-4 w-full"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="price-info"
    class="w-2/5 portrait:w-full portrait:pl-4 portrait:pr-4"
  >
    <div
      class="card bg-base-100 w-full shadow-xl landscape:sticky landscape:top-36"
    >
      <div class="card-body">
        <div class="flex flex-row justify-between">
          <h2 class="font-bold">
            Subtotal
            <p id="subtotal-items" class="text-base-300 inline">
              <span class="loading loading-spinner loading-xs"></span>
            </p>
          </h2>
          <h2 id="subtotal">
            <span class="loading loading-spinner loading-xs"></span>
          </h2>
        </div>

        <form id="shipping-form" action="" class="mb-8">
          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">
                <div
                  class="badge bg-blue-600/25 text-primary rounded-none block mt-1"
                >
                  <p class="font-bold">Pickup (Free)</p>
                </div>
              </span>
              <input
                id="pickup"
                type="radio"
                name="radio-10"
                class="radio checked:bg-accent"
                checked="checked"
              />
            </label>
          </div>

          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">
                <div
                  class="badge bg-blue-600/25 text-primary rounded-none block mt-1"
                >
                  <p class="font-bold">Delivery (+$7.99)</p>
                </div>
              </span>
              <input
                id="delivery"
                type="radio"
                name="radio-10"
                class="radio checked:bg-accent"
                checked="checked"
              />
            </label>
          </div>
        </form>

        <div class="flex flex-row justify-between mt-4">
          <h2 class="font-bold">
            Taxes
            <p class="text-base-300 inline">(13%)</p>
          </h2>
          <h2 id="tax">$0</h2>
        </div>
        <hr />
        <div class="flex flex-row justify-between">
          <h2 class="font-bold">Total</h2>
          <h2 id="final-total" class="font-bold">$0</h2>
        </div>
        <button
          id="checkout"
          class="btn btn-accent rounded-full mt-4"
          onclick="my_modal_1.showModal()"
        >
          Checkout
        </button>
        <dialog id="my_modal_1" class="modal">
          <div class="modal-box">
            <h3 class="text-lg font-bold">Thank You For Shopping With Us!</h3>
            <p class="text-base-300">(imagine this takes you to a card info checkout page)</p>
            <div id="checkout-text">
              
            </div>
            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button id="close" class="btn btn-accent rounded-full">Close</button>
              </form>
            </div>
          </div>
        </dialog>
      </div>
    </div>
  </div>
</section>

<script src="../../js/cart.js"></script>
